
@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMsg"] != null)
{
    <p>@TempData["ErrorMsg"]</p>
}

<br />
<br />
<br />
<br />
<div class="card border-primary mb-0" style="max-width: 20rem;">
    <div class="card-header">Please log in</div>
    <div class="card-body form-group">
        <form asp-controller="Sessions" asp-action="Login" method="post">
            <p>Username: <input class="form-control" name="username" type="text" placeholder="Username"/></p>
            <p>Password: <input class="form-control" name="password" type="password" placeholder="Password"/></p>
            <p><input type="submit" class="btn btn-primary" value="Log In" /></p>
        </form>
    </div>
</div>