@model SlackOverload.Models.Answer
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "AddAnswer";
}

<br />
<br />
<br />
<br />
<h1>Add Answer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="QandA" asp-action="AddAnswer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                @Context.Session.GetString("Username")
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Detail" rows="7" cols="40" class="form-control" placeholder="Answer Here"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
