@model SlackOverload.Models.Answer

@{
    ViewData["Title"] = "Edit Answer";
}

<br />
<br />
<br />
<br />
<h1>Edit Answer</h1>

<form asp-controller="QandA" asp-action="EditAnswer" method="post">
    <p>
        @Html.LabelFor(m => m.Username)
        @Model.Username
    </p>
    <p>
        <textarea id="Detail" name="Detail" rows="5" cols="40">@Model.Detail</textarea>
    </p>
    <p>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </p>
</form>